DATABASE_URL=your_neon_DB_Url
BETTER_AUTH_SECRET=your_BETTER_AUTH_SECRET
BETTER_AUTH_URL=your_BETTER_AUTH_URL

APP_URL=your_APP_URL
PROD_APP_URL=your_PROD_APP_URL
PORT=5000

GOOGLE_CLIENT_ID=your_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=your_GOOGLE_CLIENT_SECRET

ADMIN_NAME=ADMIN_NAME
ADMIN_EMAIL=ADMIN_EMAIL
ADMIN_PASSWORD=ADMIN_PASSWORD
NODE_ENV=production